<div id="title">
  <h1>Login</h1>
</div>
<form class="login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="floating-button-div form-group">
    <button class="floating-button" type="submit">login</button>
  </div>
</form>

<div class="floating-button-div">
  <a class="floating-button" href="/signup">Signup instead</a>
</div>
  


<script src="./js/login.js"></script>