<div id="title">
  <h1>New Post</h1>
</div>

<form class="form post-form" id="post-box">
  
  <div class="form-group">
    <label for="title-post">Title:</label>
    <input class="form-input" type="text" id="title-post" />
  </div>
  <div class="form-group">
    <label for="body-post">Body:</label>
    <textarea class="form-input" type="text" id="body-post" />
    </textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit Post</button>
  </div>
</form>

<script src="./js/post.js"></script>