* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
    --background-color: #dde5b6;
    --dark-brown: #6c584c;
    --light-brown: #a98467;
    --dark-green: #adc178;
    --light-green: #dde5b6;
}

body {
    background-color: var(--background-color);
}

#body {
    padding: 20px;
    background-color: var(--light-green);
}

#header {
    background-color: var(--dark-brown);
    padding: 20px;
}

#nav-bar {
    display: flex;
    background-color: var(--dark-brown);
}

#nav-bar a {
    background-color: var(--dark-brown);
    font-size: 20px;
    text-decoration: none;
    margin-right: 40px;
    color: var(--background-color);
}

#nav-bar a:hover {
    color: var(--dark-green);
    transition: .4s;
}

#title {
    background-color: var(--dark-brown);
    padding: 0 0 20px 20px;
}

#title h1 {
    background-color: var(--light-green);
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 10px 10px;
}

#post-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    border: 2px solid var(--dark-brown);
    padding: 20px;
    margin: 20px;
}

#post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#posted-by {
    font-size: 12px;
}

.welcome-back {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.floating-button-div {
    display: flex;
    justify-content: center;
}

.floating-button {
    text-decoration: none;
    padding: 10px;
    color: var(--light-green);
    background-color: var(--dark-brown);
    font-size: 20px;
    border-radius: 10px;
}

.floating-button:hover {
    color: var(--dark-green);
    transition: .4s;
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
    font-size: 20px;
}

#comment-card {
    border: 2px solid var(--dark-brown);
    margin: 20px;
    padding: 20px;
}

#post-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}